@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100&display=swap');

body {
    background: #ffffff;
}

.block {
    /* width: 100%; */
    width: 1510px;
    height: 2295px;
    position: relative;
    left: 10%;
}

.firma {
    position: relative;
    width: 170px;
    height: 170px;
    left: 5px;
    cursor: pointer;
}

.firmaFoto {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 20px;
}

.firmaText {
    position: absolute;
    width: 170px;
    height: 40px;
    top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.menu {
    width: 180px;
    height: 500px;
    position: absolute;
    top: 305px;
}

.lineMenu {
    width: 180px;
    height: 0;
    border-bottom: 3px solid #A4ACAD;
    position: absolute;
    top: 230px;
}

.centerMain {
    position: absolute;
    width: 1060px;
    height: 2295px;
    left: 180px;
    top: 0px;
    background: #ecebeb;
}

.basket {
    width: 260px;
    height: 130px;
    position: absolute;
    top: 60px;
    left: 1248px;
    border-radius: 5px;
    overflow: hidden;
}

.basketText1 {
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.basketText2 {
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    text-align: center;
    color: #A4ACAD;
    margin-bottom: 22px;
}

.basketText3 {
    width: 260px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
    display: table-cell;
    vertical-align: middle;
}

/* -------------------------------------------------- */
.map {
    width: 260px;
    height: 225px;
    position: absolute;
    top: 200px;
    left: 1248px;
    text-align: center;
}

.fotoMap {
    width: 260px;
    height: 115px;
}

#kiiv {
    display: none;
}

#lviv {
    display: none;
}

#dnipro {
    display: none;
}

.dot {
    position: absolute;
    top: 85px;
    left: 100px;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    background: #FF9846;
    text-align: center;
}

.dotFoto1 {
    width: 25px;
    height: 38px;
    position: absolute;
    top: calc(50% - 19px);
    left: calc(50% - 12.5px);
}

.dotFoto2 {
    position: absolute;
    width: 14.3px;
    height: 14.3px;
    top: calc(50% - 13px);
    left: calc(50% - 7.2px);
}

.mapText1 {
    width: 162px;
    height: 30px;
    position: absolute;
    bottom: 22px;
    left: calc(50% - 81px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.mapText2 {
    position: absolute;
    width: 215px;
    height: 22px;
    left: calc(50% - 107.5px);
    bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #A4ACAD;
}

/* ------------------------------------------ */
#mainPage {
    position: relative;
    width: 170px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.mainPageFoto {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 3px;
}

.mainPageText {
    position: absolute;
    left: 40px;
}

#mainPage:hover {
    color: #FF9846;
}

#menuButton {
    position: relative;
    width: 170px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;
}

#menuButton:hover {
    color: #FF9846;
}

#menuButtonText {
    margin-left: 40px;
}

.pizza {
    position: absolute;
    left: 5px;
}

.pizza1 {
    position: absolute;
    top: 1px;
}

.set {
    position: absolute;
    top: 2px;
    left: 15px;
}

.set1 {
    position: absolute;
    top: 7.5px;
    left: 21px;
}

.set2 {
    position: absolute;
    top: 20px;
    left: 20px;
}

.set3 {
    position: absolute;
    top: 23px;
    left: 23px;
}

.set4 {
    position: absolute;
    top: 13px;
    left: 1px;
}

.set5 {
    position: absolute;
    top: 18px;
    left: 7px;
}

.set6 {
    position: absolute;
    top: 2px;
    left: 5px;
}

.set7 {
    position: absolute;
    top: 5px;
    left: 8px;
}

.wok {
    position: absolute;
    top: 2px;
    left: 2px;
}

.roll {
    position: absolute;
    top: 2px;
    left: 2px;
}

.sushi {
    position: absolute;
    top: 5px;
    left: 2px;
}

.salad {
    position: absolute;
    top: 5px;
    left: 2px;
}

.soup {
    position: absolute;
    top: 2px;
    left: 2px;
}

.kornDogi {
    position: absolute;
    top: 2px;
    left: 2px;
}

.drinks {
    position: absolute;
    top: 0;
    left: 10px;
}

.stock {
    position: absolute;
    top: 0;
    left: 2px;
}

.percent {
    position: absolute;
    top: 0;
    left: 7px;
    color: #A4ACAD;
}

.phone {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100px;
    border-right: 1px solid #A4ACAD;
}

.phone ul {
    padding: 0;
    margin: 0;
}

.phone li {
    list-style: none;
}

a {
    text-decoration: none;
}

.contactsText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.watch1 {
    position: absolute;
    top: 4px;
    left: 15px;
}

.tel11 {
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

.phoneText {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #A4ACAD;
    display: inline;
}

.tel1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 3px;
    color: #FF9846;
}

.tel2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 3px;
    color: #FF9846;
}

.cityText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A4ACAD;
    margin-top: 25px;
    margin-bottom: 5px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.city {
    position: absolute;
    top: 0;
    left: 235px;
    width: 400px;
    height: 100px;
}

.selectSity {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

option:checked {
    color: #FF9846;
}

.reviews {
    font-family: 'Roboto';
    position: absolute;
    top: 40px;
    left: 750px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.delivery {
    font-family: 'Roboto';
    position: absolute;
    top: 40px;
    left: 850px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

.reviews:hover {
    color: #FF9846;
}

.delivery:hover {
    color: #FF9846;
}

.lineHed {
    position: absolute;
    top: 100px;
    width: 1060px;
    height: 0;
    border-bottom: 1px solid #A4ACAD;
}

/* ---------------------------------------------- */
.mainSlider {
    position: absolute;
    width: 950px;
    height: 470px;
    left: 55px;
    top: 124px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.mainSlider ul {
    padding: 0;
    margin: 0;
}

.mainSlider li {
    list-style: none;
}

#mainSliderUl {
    display: flex;
    padding: 0;
    position: absolute;
}

.mainSliderFoto {
    width: 950px;
    height: 470px;
}

.mainSliderLi {
    position: relative;
}

.mainSliderText1 {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 50px;
    font-style: italic;
    color: #f08c0a;
}

.mainSliderText2 {
    position: absolute;
    top: 70px;
    right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    font-style: normal;
    color: #f08c0a;
}

.mainSliderTextPrice {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    font-style: normal;
    color: #f08c0a;
    position: absolute;
    top: 170px;
    right: 20px;
}

.mainSliderTextLine {
    width: 130px;
    height: 4px;
    background-color: #000000;
    position: absolute;
    top: 20px;
    left: 0px;
    transform: rotate(-15deg);
    z-index: 2;
}

.mainSliderTextNewPrice {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    font-style: normal;
    color: #f08c0a;
    position: absolute;
    top: 220px;
    right: 20px;
}

.mainSliderTextButton {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: #f66206;
    position: absolute;
    top: 380px;
    right: 20px;
    cursor: pointer;
}

.mainSliderTextButtonText {
    width: 110px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 20px;
    letter-spacing: 3px;
    font-style: normal;
    color: #ffffff;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 55px);
    cursor: pointer;
}

.mainSliderTextButton:hover {
    background-color: #ff4000;
}

/* ---------------------------- navigationMainSlider ---------------------------------- */

.navigationMainSlider {
    width: 200px;
    height: 20px;
    position: absolute;
    top: 605px;
    left: calc(50% - 100px);
    list-style: block;
}

.navigationMainSlider ul {
    padding: 0;
    margin: 0;
}

.navigationMainSlider>ul>li {
    background-color: #A4ACAD;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px;
    list-style: none;
}

.navigationMainSliderDot {
    display: flex;
    padding: 0;
    position: absolute;
    left: calc(50% - 45px);
}

/* ------------------- navigationMainSlider ---------------------------- */
#blockChiсken {
    position: absolute;
    width: 450px;
    height: 200px;
    top: 644px;
    left: 55px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%), url(css.foto/чикен.png.png);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

#blockWithEel {
    position: absolute;
    width: 224px;
    height: 200px;
    left: 535px;
    top: 644px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(css.foto/Сугрем.png);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

#blocCornDog {
    position: absolute;
    width: 224px;
    height: 200px;
    left: 781px;
    top: 644px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url(css.foto/corn-dog.png);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

#blockPizza {
    position: absolute;
    width: 450px;
    height: 200px;
    left: 55px;
    top: 874px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url(css.foto/pizza.png);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

#blockStock {
    position: absolute;
    width: 470px;
    height: 200px;
    left: 535px;
    top: 874px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%), url(css.foto/stock.png);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.blockChiсkenText {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 10px;
    top: 160px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.blockWithEelText {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 10px;
    top: 160px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.blocCornDogText {
    position: absolute;
    width: 150px;
    height: 30px;
    left: 10px;
    top: 160px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.blockPizzaText {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 10px;
    top: 160px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

.blockStockText {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 10px;
    top: 160px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
}

#blockChiсken:hover {
    color: #f08c0a;
}

#blocCornDog:hover {
    color: #f08c0a;
}

#blockWithEel:hover {
    color: #f08c0a;
}

#blockPizza:hover {
    color: #f08c0a;
}

#blockStock:hover {
    color: #f08c0a;
}

/* ------------------------------- */
.blockSliderMini {
    position: absolute;
    width: 1060px;
    height: 460px;
    top: 1124px;
    left: 0;
}

#blockSliderMiniTextNew {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 55px;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

#blockSliderMiniTextPopular {
    position: absolute;
    width: 100px;
    height: 30px;
    left: 185px;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    cursor: pointer;
}

.sliderMini {
    position: absolute;
    width: 950px;
    height: 400px;
    top: 60px;
    left: 55px;
    overflow: hidden;
}

.sliderMini ul {
    padding: 0;
    margin: 0;
}

.sliderMini li {
    list-style: none;
}

#sliderMiniUl1 {
    display: flex;
    padding: 0;
    position: absolute;
}

#sliderMiniUl2 {
    display: flex;
    padding: 0;
    position: absolute;
}

.sliderMiniLi {
    width: 316.6px;
    height: 400px;
    position: relative;
    display: block;
}

.sliderMiniLiFoto {
    width: 253px;
    height: 203px;
    position: absolute;
    left: 31.8px;
    top: 0;
}

.sliderMiniLiTextName {
    width: 270px;
    height: 60px;
    position: absolute;
    left: 17px;
    top: 233px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.sliderMiniLiTextWeight {
    width: 250px;
    height: 22px;
    position: absolute;
    left: 17px;
    top: 293px;
    bottom: 18.39%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
}

.sliderMiniLiTextPrice {
    width: 110px;
    height: 30px;
    position: absolute;
    left: 17px;
    top: 354px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

#sliderMiniLiButton1 {
    width: 144px;
    height: 40px;
    position: absolute;
    left: 140px;
    top: 350px;
    background: #F46D40;
    border-radius: 5px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F2F2F2;
    border: none;
}

#sliderMiniLiButton {
    width: 144px;
    height: 40px;
    position: absolute;
    left: 140px;
    top: 350px;
    background: #F46D40;
    border-radius: 5px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F2F2F2;
    border: none;
}

/* ########################################################################################### */
.sliderMiniLiButtonText {
    width: 60px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #F2F2F2;
}

#sliderMiniLiButton:hover {
    background: #ff4000;
}

#blockSliderMiniButtonLeft {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 200px;
    left: 0;
    background-color: #f08c0a;
    border-radius: 30px;
    opacity: 0.3;
}

#blockSliderMiniButtonRigth {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 200px;
    right: 0;
    background-color: #f08c0a;
    border-radius: 30px;
    opacity: 0.3;
}

.arrowleft {
    width: 20px;
    height: 20px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 20px;
}

.arrowRigth {
    width: 20px;
    height: 20px;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    right: 20px;
}

/* ---------------- blockTextAnotaciya ---------------------------- */
.blockTextAnotaciya {
    position: absolute;
    top: 1634px;
    left: 55px;
    width: 950px;
    height: 270px;
    font-family: 'Roboto';
    color: #A4ACAD;
    list-style: "";
    overflow: hidden;
    background-color: #F2F2F2;
    z-index: 5;
}

.blockTextAnotaciyaTitle {
    width: 289px;
    height: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.blockTextAnotaciyaP1 {
    width: 950px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 5px;
}

.blockTextAnotaciyaP2 {
    width: 950px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.blockTextAnotaciyaP3 {
    width: 950px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    opacity: 0.3;
}

.blockTextAnotaciyaLi2 {
    opacity: 0.6;
}

.blockTextAnotaciyaLi3 {
    opacity: 0.5;
}

.blockTextAnotaciyaUl {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    align-items: center;
}

.blockTextAnotaciyaUl li {
    margin-top: 5px;
}

#blockTextAnotaciyaButton {
    position: absolute;
    top: 1934px;
    left: 393px;
    width: 164px;
    height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #F46D40;
    cursor: pointer;
    opacity: 0.7;
}

#blockTextAnotaciyaButton:hover {
    opacity: 1;
}

.blockTextAnotaciyaTrigle {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 13px;
    height: 13px;
    border-top: 2px solid #F46D40;
    border-left: 2px solid #F46D40;
    transform: rotate(-135deg);
}

.centerMainLineBottom {
    width: 950px;
    height: 2px;
    background-color: #A4ACAD;
    position: absolute;
    top: 2019px;
    left: 55px;
}

.centerMainInfa {
    width: 316px;
    height: 247px;
    position: absolute;
    top: 2043px;
    left: 55px;
    border-right: 0.5px solid #A4ACAD;
}

.centerMainMesenger {
    width: 316px;
    height: 247px;
    position: absolute;
    top: 2043px;
    left: 371px;
}

.centerMainTelefon {
    width: 316px;
    height: 247px;
    position: absolute;
    top: 2043px;
    left: 687px;
    border-left: 0.5px solid #A4ACAD;
}


#centerMainInfaCompany {
    position: absolute;
    width: 310px;
    height: 18px;
    top: 0;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

#centerMainInfaDelivery {
    position: absolute;
    width: 310px;
    height: 18px;
    top: 38px;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

#centerMainInfaMaterials {
    position: absolute;
    width: 310px;
    height: 18px;
    top: 76px;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

#centerMainInfaReturn {
    position: absolute;
    width: 310px;
    height: 18px;
    top: 114px;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

#centerMainInfaCompany:hover {
    color: #FF9846;
}

#centerMainInfaDelivery:hover {
    color: #FF9846;
}

#centerMainInfaMaterials:hover {
    color: #FF9846;
}

#centerMainInfaReturn:hover {
    color: #FF9846;
}

.centerMainTelefonNumber1 {
    position: absolute;
    width: 175px;
    height: 22px;
    left: 40px;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    border-bottom: 1px solid #A4ACAD;
}

.centerMainTelefonNumber2 {
    position: absolute;
    width: 175px;
    height: 22px;
    left: 40px;
    top: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    border-bottom: 1px solid #A4ACAD;
}

.centerMainTelefonAddress {
    position: absolute;
    width: 260px;
    height: 22px;
    left: 40px;
    top: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
}

.centerMainMesengerText1 {
    position: absolute;
    width: 260px;
    height: 22px;
    left: 40px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}

.centerMainMesengerTel {
    position: absolute;
    width: 260px;
    height: 22px;
    left: 40px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
}

.centerMainMesengerText2 {
    position: absolute;
    width: 260px;
    height: 44px;
    left: 40px;
    top: 74px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
}

.centerMainMesengerTel input {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

#centrViber {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 128px;
    left: 40px;
    border-radius: 25px;
    opacity: 0.5;
    cursor: pointer;
}

#centrViber:hover {
    opacity: 1;
}

#centrTelegram {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 128px;
    left: 120px;
    border-radius: 25px;
    opacity: 0.5;
    cursor: pointer;
}

#centrTelegram:hover {
    opacity: 1;
}

#centrInstagram {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 128px;
    left: 200px;
    border-radius: 25px;
    opacity: 0.5;
    cursor: pointer;
}

#centrInstagram:hover {
    opacity: 1;
}

#tablePizza {
    position: absolute;
    border-collapse: collapse;
}

.titleProduct {
    position: absolute;
    width: 957px;
    height: 45px;
}

.pizzaLargeFoto {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 7px;
}

.pizza1LargeFoto {
    width: 23px;
    height: 23px;
    position: absolute;
    top: -3px;
}

.textProductLarge {
    position: absolute;
    left: 65px;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
}

.product {
    width: 316.6px;
    height: 400px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-table;
}

.createDivNew {
    width: 960px;
    height: 1420px;
    position: absolute;
    top: 130px;
    left: 55px;
}

.pageHiddenSushi {
    width: 950px;
    height: 1290px;
    position: absolute;
    top: 45px;
    overflow: hidden;
}

.productLargeFoto {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 7px;
}

.productLargeFotoSushi {
    width: 65px;
    height: 45px;
}

.textProductLargeSushi {
    position: absolute;
    left: 85px;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
}

#pageNavigation {
    text-align: center;
    margin-top: 20px;
    display: flex;
    position: absolute;
    top: 1350px;
}

.page_1 {
    width: 30px;
    height: 30px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    line-height: 30px;
    background-color: #F46D40;
    cursor: pointer;
}

.page_2 {
    width: 30px;
    height: 30px;
    color: blueviolet;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    line-height: 30px;
    cursor: pointer;
}

.blokcBasketHed {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 650px;
}

#sumProduct {
    width: 35px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 32.5px;
    font-size: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #000000;
}

.basketHed {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    left: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.basketHed:hover {
    background-color: #f08c0a;
}

#sortingProduct {
    width: 150px;
    height: 40px;
    position: absolute;
    left: 700px;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

#sortingProduct:hover {
    color: #f08c0a;
}

#menuSort {
    width: 200px;
    height: 290px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

.nameMenuSort {
    font-family: 'Roboto';
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-left: 14px;
    margin-top: 20px;
}

.nameMenuSort:hover {
    color: #d47c09;
    text-shadow: 0px 5px 3px darkgrey;
}

#menuSort ul {
    padding: 0;
    margin: 0;
}

#menuSort li {
    list-style: none;
}

#createReview {
    width: 180px;
    height: 46px;
    position: absolute;
    top: 0;
    left: 747px;
    background-color: rgb(59, 50, 95);
    cursor: pointer;
    border-radius: 5px;
}

#createReviewText {
    width: 140px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #F2F2F2;
    cursor: pointer;
}

#createReview:hover>#createReviewText {
    color: #d47c09;
}

#hello {
    width: 140px;
    height: 200px;
    z-index: 10;
}

.blockReview {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.userReview {
    width: 100%;
    margin-bottom: 20px;
}

.nameUserReview {
    display: inline;
    margin: 10px 20px 20px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    align-items: center;
    color: #000000;
}

.dateReview {
    display: inline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #A4ACAD;
}

.textReview {
    margin: 20px 0 0 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}

.paranjaClass {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 11;
}

.paranjaFormClass {
    position: fixed;
    top: 10%;
    left: calc(50% - 400px);
    width: 800px;
    height: 500px;
    background-color: #7a93b1;
    z-index: 12;
}

#closeForm {
    width: 20px;
    height: 20px;
    background-color: red;
    z-index: 12;
    float: right;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

#lineClose1 {
    width: 16px;
    height: 2px;
    background-color: #000000;
    transform: rotate(0deg);
    position: absolute;
    top: 9px;
    left: 2px;
    transform: rotate(45deg);
}

#lineClose2 {
    width: 16px;
    height: 2px;
    background-color: #000000;
    transform: rotate(0deg);
    position: absolute;
    top: 9px;
    left: 2px;
    transform: rotate(-45deg);
}

#paranjaForm {
    display: none;
}

.formUserReview * {
    outline: none;
}

.formUserReview {
    background-color: white;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    outline: none;
}

.labelText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 10px 0 0 10px;
}

#nameUserForm {
    width: 95%;
    height: 40px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;
    padding-left: 10px;
    transition: 2s;
}

#textMessage {
    width: 94%;
    height: 200px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    resize: none;
    transition: 2s;
}

#buttonForm {
    width: 97%;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #f08c0a;
    border: none;
    cursor: pointer;
}

#buttonForm:active {
    margin-top: 5px;
    box-shadow: 0 0 20px #6ea551;
    transition: 0.1s;
}

#buttonForm:hover {
    background-color: #cd7503;
    transition: 0.3s;
}

#nameUserForm:focus {
    box-shadow: 0 0 15px #759d60;
    transition: 0.2s;
}

#textMessage:focus {
    box-shadow: 0 0 15px #759d60;
    transition: 0.2s;
}

/* -------------------------- @ MEDIA --------------------------------- */
@media screen and (max-width:1400px) {
    .block {
        left: 0;
        width: 1250px;
    }

    .basket {
        display: none;
    }

    .map {
        display: none;
    }
}