@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100&display=swap');

body {
    background-color: aqua;
}

.blockFormHed {
    width: 600px;
    height: 100px;
    border-bottom: 1px solid #A4ACAD;
    position: absolute;
}

.formBackButton {
    position: absolute;
    cursor: pointer;
    top: calc(50% - 11px);
    left: 20px;
}

.formBackСircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FF9846;
    position: absolute;
    top: 2px;
}

.formBackTrigle {
    width: 8px;
    height: 8px;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    position: absolute;
    transform: rotate(-45deg);
    top: 5px;
    left: 7px;
    transition: 0.5s;
}

.formBackButton:hover>.formBackСircle>.formBackTrigle {
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
}

.formBackButtonText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    display: inline;
    margin-left: 30px;
    transition: 0.5s;
}

.formBackButton:hover>.formBackButtonText {
    color: #FF9846;
}

.phone {
    width: 220px;
    height: 100px;
    margin-left: calc(50% - (220px / 2));
}

.phone ul {
    padding: 0;
    margin: 0;
}

.phone li {
    list-style: none;
}

a {
    text-decoration: none;
}

.contactsText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.watch1 {
    position: absolute;
    top: 4px;
    left: 15px;
}

.tel11 {
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

.phoneText {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #A4ACAD;
    display: inline;
}

.tel1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 3px;
    color: #FF9846;
}

.tel2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 3px;
    color: #FF9846;
}

#fotoMini {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 5px;
}

#clearBlock {
    width: 50px;
    height: 50px;
    background-color: aqua;
}

.blockSelectedProduct {
    width: 600px;
    height: 400px;
    position: absolute;
    top: -80px;
    left: 550px;
    -webkit-user-select: none;
    /* отменяет выделение текста*/
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* отменяет выделение текста*/
}

.wraperTemplateCloneBlock {
    width: 100%;
    height: 100%;
    overflow: auto;
    border-bottom: 1px solid #A4ACAD;
}

.hedBascetText {
    width: 95px;
    position: absolute;
    top: -50px;
    left: calc(50% - (60px / 2));
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.deliverySumText {
    width: 150px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-left: 300px;
}

.deliverySumTextNumber {
    width: 150px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    position: absolute;
    top: 400px;
    left: 450px;
    overflow: auto;
}

.sumOrder {
    width: 150px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FF9846;
    position: absolute;
    top: 465px;
    left: 300px;
}

.sumOrderNumber {
    width: 150px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FF9846;
    position: absolute;
    top: 465px;
    left: 450px;
    overflow: auto;
}

.quantityProductText {
    width: 150px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    position: absolute;
    top: 430px;
    left: 300px;
}

.quantityProductNumber {
    width: 150px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    position: absolute;
    top: 430px;
    left: 450px;
    overflow: auto;
}

.blockProduct {
    width: 550px;
    height: 70px;
    margin: 0px 0px 10px 30px;
    display: flex;
    align-items: center;
}

.fotoProductMini {
    width: 60px;
    height: 60px;
    display: inline;
}

.nameProduct {
    width: 200px;
    height: 25px;
    display: inline-block;
    margin: 0 10px 0 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    align-items: center;
    color: #000000;
    overflow: hidden;
}

.minus {
    width: 30px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    text-align: center;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.plus {
    width: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.minus:hover {
    background-color: #c0c6c7;
}

.plus:hover {
    background-color: #c0c6c7;
}

.quantity {
    width: 35px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #000000;
    overflow: hidden;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.priceProduct {
    display: inline-block;
    width: 60px;
    height: 25px;
    margin: 0 7px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #000000;
    overflow: hidden;
}

.textMoney {
    margin: 0 10px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #000000;
    overflow: hidden;
    display: inline-block;
}

.deleterProduct {
    width: 22px;
    height: 25px;
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    border-radius: 3px;
}

.deleterProduct:hover {
    background-color: #ff4646;
    opacity: 0.8;
}

.fotoLid {
    width: 22px;
    height: 10px;
    transform: rotate(15deg);
    position: absolute;
    top: -8px;
    left: 0;
    transition: 0.5s;
    opacity: 0.3;
}

.deleterProduct:hover>.fotoLid {
    top: -13px;
    left: -10px;
    transform: rotate(-20deg);
    transition: 0.5s;
}

.fotoBascet {
    width: 22px;
    height: 25px;
    position: absolute;
    opacity: 0.3;
}

.textData {
    position: absolute;
    left: 50px;
    top: 130px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
}

/* ------------------------ form --------------------- */

.blockForm {
    width: 1200px;
    height: 600px;
    background: #E5E5E5;
    margin-left: calc(50% - (1200px / 2));
    position: absolute;
}

.formOrder {
    position: absolute;
    top: 180px;
    left: 50px;
}

.formText {
    margin-bottom: 10px;
    width: 210px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    border-radius: 5px;
    padding-left: 10px;
    transition: 1s;
    border: none;
    cursor: pointer;
}

.formText:focus {
    box-shadow: 0 0 15px #759d60;
    transition: 0.5s;
    color: #000000;
}

.formText:hover {
    box-shadow: 0 0 15px #759d60;
    transition: 0.5s;
}

.textareaCommit {
    width: 212px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    border-radius: 5px;
    padding-left: 10px;
    transition: 1s;
    padding: 5px;
    overflow: auto;
    resize: none;
    border: none;
    cursor: pointer;
}

.textareaCommit:focus {
    box-shadow: 0 0 15px #759d60;
    transition: 0.5s;
    color: #000000;
}

.textareaCommit:hover {
    box-shadow: 0 0 15px #759d60;
    transition: 0.5s;
}

.cashUser {
    width: 110px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    cursor: pointer;
}

.cashUser span {
    margin-left: 10px;
}

.cardUser {
    width: 110px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    left: 110px;
    cursor: pointer;
}

.cardUser span {
    margin-left: 23px;
}

#cash:checked+.cashUser {
    background-color: #FF9846;
    color: white;
}

#card:checked+.cardUser {
    background-color: #FF9846;
    color: white;
}

.formCourier {
    width: 110px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    top: 0px;
    left: 300px;
    margin-bottom: 10px;
    cursor: pointer;
}

.formCourier span {
    margin-left: 10px;
}

.formPickup {
    width: 110px;
    height: 30px;
    position: absolute;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    top: 0px;
    left: 410px;
    cursor: pointer;
}

.formPickup span {
    margin-left: 5px;
}

#courier:checked+.formCourier {
    background-color: #FF9846;
    color: white;
}

#pickup:checked+.formPickup {
    background-color: #FF9846;
    color: white;
}

.inputCity {
    width: 210px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    border-radius: 5px;
    padding-left: 10px;
    transition: 1s;
    border: none;
    position: absolute;
    top: 60px;
    left: 300px;
    cursor: pointer;
}

.inputStreet {
    width: 210px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    border-radius: 5px;
    padding-left: 10px;
    transition: 1s;
    border: none;
    position: absolute;
    top: 120px;
    left: 300px;
    cursor: pointer;
}

.inputHouse {
    width: 60px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A4ACAD;
    border-radius: 5px;
    transition: 1s;
    border: none;
    position: absolute;
    top: 180px;
    left: 300px;
    cursor: pointer;
}

.inputApartament {
    width: 60px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A4ACAD;
    border-radius: 5px;
    transition: 1s;
    border: none;
    position: absolute;
    top: 180px;
    left: 380px;
    cursor: pointer;
}

.inputСode {
    width: 60px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A4ACAD;
    border-radius: 5px;
    transition: 1s;
    border: none;
    position: absolute;
    top: 180px;
    left: 460px;
    cursor: pointer;
}

.inputEmail {
    width: 210px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #A4ACAD;
    border-radius: 5px;
    padding-left: 10px;
    transition: 1s;
    border: none;
    position: absolute;
    top: 240px;
    left: 300px;
    cursor: pointer;
}

.inputClick:focus {
    box-shadow: 0 0 15px #759d60;
    transition: 0.5s;
    color: #000000;
}

.inputClick:hover {
    box-shadow: 0 0 15px #759d60;
    transition: 0.5s;
}

.buttonForm {
    width: 522px;
    height: 40px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #FF9846;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.buttonForm:hover {
    background-color: #f66206;
}

.emptyBasket {
    width: 400px;
    padding: 20px 0 20px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    position: absolute;
    background-color: #f66206;
    margin-left: 100px;
}